<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/suppliers/edit/<%=dataSuppliers.id%>" method="post">
      Name:<br>
      <input type="text" name="name" value="<%=dataSuppliers.name%>" placeholder="name">
      <br>
      Kota:<br>
      <input type="text" name="kota" value="<%=dataSuppliers.kota%>" placeholder="kota">
      <br>
      list items:<br>
      <select>
        <option value="<%=dataItems.id%>"><%=dataItems.name%></option>
    </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
