<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <div style="display: inline-block">
      <h2><%= title %></h2>
    </div>
    <table>
      <tr>
        <td>Name</td>
        <td>:</td>
        <td><input type="text" name="name" value="<%= supplier ? supplier.name : "" %>"></td>
      </tr>
      <tr>
        <td>Kota</td>
        <td>:</td>
        <td><input type="text" name="kota" value="<%= supplier ? supplier.kota : "" %>"></td>
      </tr>
      <tr>
        <td colspan="3"><h2>List Item</h2></td>
      </tr>
      <% if(supplier.Supplieritems.length != 0){
        supplier.Supplieritems.forEach(item => { %>
          <tr>
            <td colspan="2"><%= supplier.Items[0].name %></td>
            <td>@<%= item.price %></td>
          </tr>
        <% })
      } else { %>
        <tr>
          <td colspan="3">No Item</td>
        </tr>
      <% } %>
    </table>
    <form action="/suppliers/<%= supplier.id %>/additem" method="post">
      <table>
        <tr>
          <th>List Item</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>
            <select name="item">
              <% items.forEach(item => { %>
                <option value="<%= item.id %>"><%= item.name %></option>
              <% }) %>
            </select>
          </td>
          <td><input type="text" name="price"></td>
        </tr>
        <tr>
          <td colspan="2"><button type="submit" name="button">Submit</button></td>
        </tr>
      </table>
    </form>
  </body>
</html>
