<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/items/add">Add Items</a>
    <table border="1" style="width:30%">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Codeitem</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%dataItems.forEach(data => {%>
        <tr>
          <td><%=data.id%></td>
          <td><%=data.name%></td>
          <td><%=data.brand%></td>
          <td><%=data.codeitem%></td>
          <td>
            <a href="/items/edit/<%=data.id%>">Edit</a>
            <a href="/items/delete/<%=data.id%>">Delete</a>
          </td>
        </tr>
      <%})%>
    </table>
  </body>
</html>
