<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Halaman Items</title>
  </head>
  <body>
    <h1>MENU</h1>
    <td><a href="/items">Items</td></a>
    <td><a href="/suppliers">Suppliers</td></a>
    <h1>Halaman Items</h1>
    <% if(dataError){%>
      <%= dataError%>
    <% }%>
    <td><a href="/items/add">Add</td></a>
    <table border='1px'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Brand</th>
          <th>Code Item</th>
          <th colspan="3">Action</th>
        </tr>
      </thead>
      <tbody>
        <% dataItems.forEach(row=>{ %>
          <tr>
            <td><%= row.id %></td>
            <td><%= row.name %></td>
            <td><%= row.brand %></td>
            <td><%= row.codeitem %></td>
            <td><%= row.suppliers_name%> </td>
            <td><a href="/items/edit/<%= row.id %>">Edit</td></a>
            <td><a href="/items/delete/<%= row.id %>">Delete</td></a>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
