<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%include partial/menu.ejs%>
    <div class="table">
      <h3>List Items</h3>
      <table>
        <tr>
          <th>ID</th>
          <th>Nama</th>
          <th>Brand</th>
          <th>Kode Item</th>
          <th>Supplier</th>
          <th>Opsi</th>
        </tr>
        <%items.forEach(item=>{%>
          <tr>
            <td><%=item.id%></td>
            <td><%=item.name%></td>
            <td><%=item.brand%></td>
            <td><%=item.codeitem%></td>
            <td>
              <a href="/items/edit/<%=item.id%>">edit</a>
              <a href="/items/delete/<%=item.id%>">delete</a>
            </td>
          </tr>
        <%})%>
      </table>
    </div>
    <a href="/items/add">Add Item</a>
  </body>
</html>
