<html>

<head>
    <title>Data Supplier</title>
</head>

<body>
    <div id="main-table">
        <table>
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Brand</th>
                <th>Kode Item</th>
                <th colspan="2">Action</th>
            </tr>
            <%dataItem.forEach(function(data){ %>
                <tr>
                    <td>
                        <%= data.id%>
                    </td>
                    <td>
                        <%= data.name%>
                    </td>
                    <td>
                        <%= data.brand%>
                    </td>
                    <td>
                        <%= data.codeitem%>
                    </td>
                    <td>
                        <a href="/items/edit/<%= data.id%>"> Edit</a>
                        <a href="/items/delete/<%= data.id%>">Delete</a>
                    </td>
                </tr>
                <% })%>


        </table>
        <a href="/items/add"> Add Item</a>

    </div>
</body>

</html>