<%- include('partials/header') %>
<% if (hasOwnProperty('err')) {%>
	<p><%=JSON.stringify(err, null, 4)%></p>
<%}%>
<form action="/items/edit/<%= item.id %>" method="POST">
	Name:<br><input type="text" name="name" value="<%= item.name %>">
	<br>
	Brand:<br><input type="text" name="brand" value="<%= item.brand %>">
	<br>
	Code Item:<br><input type="text" name="codeitem" value="<%= item.codeitem %>">
	<br>
	<br>
	<input type="submit" value="Edit Item">
</form>
<%- include('partials/footer') %>