<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <div style="display: inline-block">
      <h2><%= title %></h2>
      <a href="/items/add"><button type="button" name="button">Add Item</button></a>
    </div>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Code Item</th>
        <th>Suppliers</th>
        <th>Action</th>
      </tr>
      <% items.forEach((item, index) => { %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
          <td><%= item.brand %></td>
          <td><%= item.codeitem %></td>
          <td>
            <% if(item.Suppliers.length != 0){ %>
              <ul>
                <% item.Suppliers.forEach(supplier => { %>
                  <li>supplier.name</li>
                <% }) %>
              </ul>
            <% } else { %>
              No Supplier
            <% } %>
          </td>
          <td>
            <a href="/items/edit/<%= item.id  %>"><button type="button" name="button">Edit</button></a>
            <a href="/items/delete/<%= item.id  %>"><button type="button" name="button">Delete</button></a>
          </td>
        </tr>
      <% }) %>
    </table>
  </body>
</html>
