<html>
        <head>
                <script>
                    function formatuang (number){
                        reverse = number.toString().split('').reverse();
                        arr= [];
                        for(var i = 0; i<reverse.length;i++){
                            if((i+1) % 3 === 0 && (i+1) !== reverse.length){
                            arr.push(reverse[i]);
                            arr.push('.');
                            }else{
                            arr.push(reverse[i]);
                            }
                        }
                        document.write('Rp. '+arr.reverse().join(''))
                        // return 'Rp. '+arr.reverse().join('');
                        }
                    </script>
            </head>
    <body>
            <%- include ./partial/menu.ejs%>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Kota</th>
            </tr>
            
                <%data.forEach(d => {%>
                    <tr>
                    <td><%=d.id%></td>
                    <td><%=d.name%></td>
                    <td><%=d.kota%></td>
                    <td>
                        <%d.Items.forEach(x => {%>
                            <%=x.name%> @ <script>formatuang(`<%=x.SupplierItem.dataValues.price%>`)</script><br>
                            
                        <%})%>
                    </td>
                    <td><a href='/suppliers/assign/<%=d.id%>'>Assign</a></td>
                    <td><a href='/suppliers/edit/<%=d.id%>'>Edit</a></td>
                    <td><a href='/suppliers/delete/<%=d.id%>'>Delete</a></td>
                </tr>
                <%})%>
           
        </table>
        <a href='/suppliers/add'>Add a supplier</a>
    </body>
</html>