<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/suppliers/add">Add Suppliers</a>
    <table border="1" style="width:30%">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Kota</th>
        <th>list Item</th>
        <th>Add Item</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%dataSuppliers.forEach(data => {%>
        <tr>
          <td><%=data.id%></td>
          <td><%=data.name%></td>
          <td><%=data.kota%></td>
          <td><%=data.items_name%></td>
          <td>
            <a href="/suppliers/:id/additem"><button type="button" name="button">Assign Item</button></a>
          </td>
          <td>
            <a href="/suppliers/edit/<%=data.id%>">Edit</a>
            <a href="/suppliers/delete/<%=data.id%>">Delete</a>
          </td>
        </tr>
      <%})%>
    </table>
  </body>
</html>
