<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Kota</th>
    </tr>
    <% for(let i = 0; i < Supplier.length; i++){%>
    <tr>
      <td><%= Supplier[i].id %></td>
      <td><%= Supplier[i].name %></td>
      <td><%= Supplier[i].kota %></td>
      <td><a href="/suppliers/edit/<%= Supplier[i].id %>">Edit</a></td>
      <td><a href="/suppliers/delete/<%= Supplier[i].id %>">Delete</a></td>
    </tr>
    <% } %>
  </table>
</body>
</html>
