<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Supplier</h2>
  <p>Lorem</p>
  <a href="/suppliers/add">Add Supplier</a>
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>kota</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
          <%dataSuppliers.forEach(row=>{%>
      <tr>
        <td><%=row.id%></td>
        <td><%=row.name%></td>
        <td><%=row.kota%></td>
        <td><a href="/suppliers/edit/<%=row.id%>">Edit</a></td>
        <td><a href="/suppliers/delete/<%=row.id%>">Delete</a></td>
      </tr>
      <%})%>

    </tbody>
  </table>
</div>

</body>
</html>
