<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


	<div class="container">
	  <h2>Items</h2>  
	  <h4><a class="pull-right" href="/items/add">Add</a></h4>      
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Kota</th>
	        <th>Items</th>
	        <th>Brand</th>
	        <th>Code Item</th>
	        <th>OPtions</th>
	        
	      </tr>
	    </thead>
	    <tbody>
	    	<%data.forEach(supplier=>{%>
	      <tr>
	        <td><%=supplier.name%></td>
	        <td><%=supplier.kota%></td>
	        	<%supplier.Items.forEach(item=>{%>
	        <td><%=item.name%></td>
	        <td><%=item.brand%></td>
	        <td><%=item.codeitem%></td>
	        <td><a href="/items/delete/<%=supplier.id%>">Delete</a> | <a href="/items/edit/<%=supplier.id%>">Edit</a></td>
	      </tr>
	      <%})%>
	      <%})%>
	    </tbody>
	  </table>
	</div>


</body>
</html>