<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head-content %>
</head>
<body>

  <div class="container">
    <% include ../partials/navigation %>

    <h1>Items</h1>
    <a href="/items/add" class="btn btn-success">Add an Item</a>
    <br>
    <br>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Brand</th>
          <th>Code Item</th>
          <th>List Supplier</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

        <% items.forEach((item) => { %>

            <tr>
              <td><%= item.id %></td>
              <td><%= item.name %></td>
              <td><%= item.brand %></td>
              <td><%= item.codeitem %></td>
              <td>
                <% if (item.Suppliers.length) { %>
                    <ul>
                      <% item.Suppliers.forEach((supplier) => { %>
                          <li><%= supplier.name %> @ <%= supplier.SupplierItem.getPrice() %></li>
                      <% }) %>
                    </ul>
                <% } else { %>
                    No supplier yet
                <% } %>
              </td>
              <td>
                <a href="/items/edit/<%= item.id %>" class="btn btn-primary">Edit</a>
                <a href="/items/delete/<%= item.id %>" class="btn btn-danger">Delete</a>
              </td>
            </tr>

        <% }) %>

      </tbody>
    </table>
  </div>

</body>
</html>
